input,
button,
textarea,
select {
  font: inherit;
}
input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: $border-radius;
  border: 1px solid $main-color-black;
  background-color: $main-color-white;
}

textarea {
  min-height: 200px;
}

.sendButton {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-color: $main-color-white__transparent20;
  color: $main-color-white;
  background-color: $main-color-black;
  width: fit-content;
}
.form-label-title {
  font-weight: bold;
  display: block;
  margin-top: 1rem;
}
.error {
  color: $error-color;
}
@media #{$laptop-up} {
  input,
  textarea {
    width: 80%;
  }
}
