@import '@styles/utilities/utilities.scss';

body {
  background-color: $main-color-black;
  color: $main-color-white;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: $laptop;
  background-image: url('/images/background_1920_1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 10%;
}

main {
  border: 3px solid red;
  height: 82%;
}
footer {
  height: 8%;
  background-color: $second-color-blue;
}

.section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 2rem;
}

// .container {
//   width: 80%;
//   max-width: 1128px;
//   margin: 0 auto;
//   border: 1px solid green;
// }

// .row {
//   display: flex;
//   justify-content: space-between;
//   border: 1px solid orange;
// }
// .column {
//   width: 45%;
//   border: 1px solid blue;
// }

a:hover {
  cursor: pointer;
  color: $main-color-white;
}

p a {
  text-decoration: underline;
}

ul {
  list-style: none;
}
