@import '@styles/utilities/utilities.scss';
.footer ul {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 100%;
}

.footer li {
  padding: 1rem;
  margin: 0 1rem;
}
.footer a {
  color: $main-color-white;
}
.footer li:hover {
  border-bottom: 1px solid $main-color-white;
  opacity: 90%;
  cursor: pointer;
  a {
    font-weight: 800;
  }
}
