@import '@styles/utilities/utilities.scss';

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.titles {
  padding: 3rem;
  background-color: $main-color-black__transparent-90;
}

.titles h1 {
  font-size: 3.5rem;
}
.titles h2 {
  font-size: 2.2rem;
}

@media #{$laptop-up} {
  .homeContainer {
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  .titles {
    padding: 3rem;
    background-color: transparent;
  }
}
