@import '@styles/utilities/utilities.scss';

.navItems li {
  //To avoid too long line on hover in footer
  width: fit-content;
  //To avoid shift on hover
  border: 2px solid transparent;
  padding: 0.8rem;
}

.navItems a:hover {
  border-bottom: 2px solid $main-color-white;
  opacity: 90%;
  cursor: pointer;
}

.navItems a {
  color: $main-color-white;
}

// .activeLinkHeader {
//   background-color: $main-color-white__transparent20;
//   border-radius: $border-radius;
//   clip-path: polygon(1% 11%, 100% 0, 100% 100%, 0 94%);
// }

.activeLink span {
  border-bottom: 2px solid $main-color-white;
}
